
<body background="mars_background.jpg">

	<h1>Welcome to Mars Rover Mission Control</h1><br>



<div class="flex-container">

<form class="" action="mission_info" method="post" id = "form">

		<h3>Input the grid size as maximum x and y coordinates</h3>
			(<input type="number" name="grid_x_value" placeholder="Grid X value" required>,
			<input type="number" name="grid_y_value" placeholder="Grid Y value" required>)<br><br>

			<hr>

			<div id= "roverInput"></div>




</form>

<div style="display: flex" >
			<div class = "newRoverButton">
				<a href="#roverInformation" onclick = "createRoverElement()" class="hack_fix">
					New Rover
				</a>
			</div>

			<div style="flex: 1">

			</div>

			<div id="submitButton" class = 'newRoverButton' onclick = 'submitForm()'>Move Your Rovers</div>
</div>



<div id="rover1_moves"></div>


<script>

	function submitForm() {
		document.getElementById('form').submit();

	}

	function createRoverElement() {
		console.log("hidden function");
		document.getElementById('rover1_moves').id = 'oldRover';
		// console.log(`this is previousRover ${previousRover}`);
		// previousRover = 'oldRover';

		// console.log(previousRover.id);
		var parentDiv = document.getElementById('roverInput');
		var createElement = document.createElement('div');
		createElement.innerHTML = '<div class=container id=roverInformation style=display:block><h3>Input the starting coordinates of this Rover as x and y coordinate</h3>(<input name=rover_x_values[] placeholder="Rover X value"type=number>, <input name=rover_y_values[] placeholder="Rover Y value"type=number>)<br><h3>Input the starting direction of Rover</h3><select name=roverDirection[]><option value=N>North<option value=E>East<option value=S>South<option value=W>West</select><br><h3>Input the moves for this Rover using Up arrow for Move, Left arrow for Rotate Left, and Right arrow for Rotate Left</h3><input name=rover_moves[] id=rover1_moves readonly><hr></div>';
		parentDiv.appendChild(createElement.firstChild);



		var roverElement = document.getElementById('rover1_moves')

		function forward() {
			roverElement.value += 'M'
		}

		function left() {
			roverElement.value += 'L'
		}

		function right() {
			roverElement.value += 'R'
		}


		document.onkeydown = checkKey;

		window.addEventListener("keydown", function(e) {
		   // space and arrow keys
		   if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
		       e.preventDefault();
		   }
		}, false);

	function checkKey(e) {


	    e = e || window.event;

	    if (e.keyCode == '38') {
	        forward();
	    }
	    else if (e.keyCode == '37') {
	      	left();
	    }
	    else if (e.keyCode == '39') {
	       right();
	    }

	}

	}

	function newRoverInformation() {
		document.getElementById('roverInformation').style = "block";

	}



</script>

<!-- <div class="direction_buttons">
  <button type="button" onclick="forward()">FORWARD</button><br>
  <button type="button" onclick="left()">ROTATE LEFT</button>
  <button type="button" onclick="right()">ROTATE RIGHT</button><br>
</div>

	<h3>Input the starting coordinates of Rover #2 as x and y coordinate</h3>
		(<input type="number" name="rover2_x_value" placeholder="Rover 2 X value">,
		<input type="number" name="rover2_y_value" placeholder="Rover 2 Y value">)


	<h3>Input the starting direction of Rover #2</h3>
		<select name="rover2_direction">
			<option value="N">North</option>
			<option value="E">East</option>
			<option value="S">South</option>
			<option value="W">West</option>
		</select><br><br>

	<h3>Input Rover #2 moves</h3>
		<input type="text" id="rover2_moves" name="rover2_moves" readonly="readonly"><br><br>

		<div class="direction_buttons">
		  <button type="button" onclick="forward2()">FORWARD</button><br>
		  <button type="button" onclick="left2()">ROTATE LEFT</button>
		  <button type="button" onclick="right2()">ROTATE RIGHT</button><br>
		</div>

	<input type="submit" name="" value="Submit"> -->


</body>
