/*img.resize {
  max-width:100%;
  max-height:90%;
}*/

body {
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-color: grey;
  font-family: "monospace", OCR, std;
  padding: 40px;
  text-align: center;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
  color: #072644;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
      text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}


h1 {
  text-align: center;
  margin-top: 100px;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-decoration-color:
  color: black;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

input[type="submit"] {
  display: inline-block;
  background-color: grey;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border-color: black;
  margin-top: 50px;
}


input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: grey;
}

input[type="text"],
textarea {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px black;
  border-radius: 10px;
  font-size: 20px;
}


.direction_buttons {
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  background-color: black;
  border-radius: 10px;
}


.columns {
  margin-top: 50px;
  text-align: left;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border-bottom: none;
  column-count: 4;
}


.googlebutton > div{
  margin: 0 auto;
}



.flex-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1%;
  margin: 0 auto;
  border-color: black;
  border-style: inset;
  border-width: 5px;
  width: 50%;
}


.hack_fix {
  text-decoration: none;
  color: black;
}

  .newRoverButton {
  border-style: solid;
  padding: 5px;
  color: black;
  font-size: 1rem;
  background-color: white;
  text-decoration: none;
  border-radius: 12px;
  border-width: 2px;
  flex: 15;
  }

  .red_text {
    font-size: 1rem;
    color: red;
  }

  .whiz {
    border: solid;
    border-color: dark-gray;
    border-width: 10px;
    border-radius: 10px;
  }
