/*img.resize {
  max-width:100%;
  max-height:90%;
}

body {
  background-color: #cfd1d3;
  font-family: "Helvetica", Arial, sans-serif;
  padding: 40px;
  text-align: center;
  color: #333;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: #072644;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
      text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


h1 {
  text-align: center;
  margin-top: 100px;
  font-family: serif;
  font-size: 100px;
  font-weight: bold;
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

input[type="submit"] {
  display: inline-block;
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border: none;
  margin-top: 50px;
}
a:hover,
a:focus,
a:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: black;
}

input[type="text"],
textarea {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 20px;
}


p + div {
  margin-top: 50px;
  text-align: center;
  background-color: transparent;
  border-bottom: none;
}

div {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border-bottom: solid 2px #ddd;
  margin-bottom: 10px;
}

*/